{% extends 'login/base.html' %}

{% block title %}Home{% endblock %}
{% block body %}
<div class="task-list" id="formTodo">
    <form id=todo-form action="/editTodo/{{todoItem.id}}/" method="post">
        {% csrf_token %}
        <label>Title: </label>
        <textarea style="resize:none" name="title" rows="1">{{todoItem.title}}</textarea>
        </br>
        <label>Description: </label>
        <textarea name="content">{{todoItem.content}}</textarea>
        </br>
        <label>Due Date: </label>
        <input type="date" name="date" value="{{todoItem.date|date:'Y-m-d'}}" />
        </br>
        <label>Assign to User: </label>
        <textarea style=" resize:none" name="user" rows="1">{{todoItem.user}}</textarea>
        </br>
        <input type="submit" value="Update" />
    </form>
</div>

<div class="dicussion" id="formDiscussion">
    <h3>Discussion:</h3>
    </br>
    {% for comment in comments %}
    <form id=todo-form action="/tasks/{{todoItem.id}}/editComment/{{comment.id}}/" method="post">
        {% csrf_token %}
        <label>Title: </label>
        <textarea style="resize:none" name="title" rows="1">{{ comment.title }}</textarea>
        </br>
        <label>Body: </label>
        <textarea name="body">{{ comment.body}}</textarea>
        </br>
        <label>Author: </label>
        <textarea style=" resize:none" name="user" rows="1">{{ comment.user}}</textarea>
        </br>
        <input type="submit" value="Update" />
    </form>
    <form action="/tasks/{{todoItem.id}}/deleteComment/{{comment.id}}/" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Comment" />
    </form>
    </br>
    {% endfor %}
    <h3>New Comment:</h3>
    <form id=discussion-form action="/tasks/{{todoItem.id}}/addComment/" method="post">
        {% csrf_token %}
        <label>Title: </label>
        <input type="hidden" name="todoItem" value={{todoItem.pk}} />
        <textarea style="resize:none" name="title" rows="1" placeholder="Title"></textarea>
        </br>
        <label>Body: </label>
        <textarea name="body" placeholder="Body"></textarea>
        </br>
        <label>Author: </label>
        <input type="hidden" name="user" value={{user.get_username}} />
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}