{% extends 'login/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}

<h1 align="center">Hello, {{ user.get_username }}</h1>
<h2 align="center">Welcome back!</h2>


<section class="container" id="newItems">
    <h3>Your News Items:</h3>
    {% if newsItems %}
    <ul style="list-style-type:none;">
        {%for news in newsItems%}
        <li>
            <article class=news>
                <h4>{{news.subject }}
                    {%if news.relatedItem %} on {{news.relatedItem}} {%endif%}</h4>
                <article class=subNews>
                    {%if news.creator != user.get_username %}
                    <b1><b>Posted by {{user.get_username}} at {{news.created_at}}</b></b1>
                    {% else %}
                    <b1><b>Posted by {{news.creator}} at {{news.created_at}}</b></b1>
                    {%endif%}
                </article>
                <article class=subNews>
                    <p>{{news.body}}</p>
                </article>
            </article>
            <br>
        </li>
        {%endfor%}
    </ul>

    {% else %}
    <h4>You have no news to display</h4>
    {%endif%}
</section>

<h3>Create new news item:</h3>
<form method='POST'> {%csrf_token%}
    {{ form.as_p }}
    <input type='submit' value='Post' />
</form>


{% endblock %}