<form id="contact" action="" method="post">
    <fieldset>
        <input placeholder="enter name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
        <input placeholder="overall performance" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
        <input placeholder="acomplishments" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
        <input placeholder="ways to improve" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
        <textarea placeholder="additional information..." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
        <button name="submit" type="submit">Submit</button>
    </fieldset>
</form>