{% extends 'login/base.html' %}

{% block title %}Home{% endblock %}
{% block body %}
<form id="review" action="/addReview/" method="post">
    {% csrf_token %}
    <fieldset>
        <label for="Task"> Task Name: </label>
        <label for="name">{{todoItem.title}}</label>
    </fieldset>
    <fieldset>
        <label for="overallPerformance"> Overall Performance </label>
        <input type="radio" name="performance" value="poor"> poor
        <input type="radio" name="performance" value="average"> average
        <input type="radio" name="performance" value="good"> good
        <input type="radio" name="performance" value="great"> great
    </fieldset>
    <fieldset>
        <textarea rows="5" cols="50" placeholder="Ways to Improve" type="text" name="improvement" required></textarea>
    </fieldset>
    <fieldset>
        <textarea rows="5" cols="50" placeholder="additional information..." type="text" name="additionalInfo"
            required></textarea>
    </fieldset>
    <fieldset>
        <button name="submit" type="submit">Submit</button>
    </fieldset>
</form>
{% endblock %}